.left, .right {
    position: relative;
    line-height: 40px;
    width: 200px;
    height: 400px;
    text-align: center;
    background-color: #9CC0D4;
    font-size: 20px;
    margin: 20px auto 0;
    z-index: 999999;
    border: 2px solid pink;
    left: 450px;
}

.content {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
}

.navtable {
    /*width:500px;
    height:500px;
    margin: auto;
    /*padding-right: 100px;
    border-spacing:0px;
    border: 0px none;
    color: rgba(193, 34, 12, 0.95);
    font-size: 15px;
    border-collapse: separate;*/
    overflow: scroll;
    /*border: 3px solid rgb(70, 83, 102); border-collapse: separate; border-spacing: 6px; */margin: 0 auto;
}
.navtable td{
    /*text-align: center;
    font-size: 2ch;
    height: 2px;
    border: 0px;*/

    text-align: center;
    font-size: 15px;
    vertical-align: top;
}
/*.navtable tr{
    border-left: none;
    border-right: none;
}*/

.navtable th {/*text-align: center; font-size: 15px;*/
    /*border: 1px solid black; */ text-align: center; font-size: 15px;
}

.td1{
    text-align: center; font-size: 10px;
}
.leftDiv {
    float:left;
    position:relative;
    top: 8%;
    width: 400px;
    height: 900px;
    background: rgba(165, 167, 159, 0.76);
    transform: translateX(0);
    transition: transform 0.5s;
    /*filter:alpha(opacity=95);  /*设置透明度为60%*/
    /*opacity:0.95;  /*非IE浏览器下设置透明度为60%*/
    z-index: 10000;
    border-radius:30px;
}
.changeClass {
    transform: translateX(-100%);
}
.changeBtn{
    position:absolute;
    top:50%;right:-80px;
    transform:translate(0,-50%);

}

.highlight{
    margin-top:10px; width: 100%; height: 50px; border-radius:5px; background-color: rgba(218, 206, 75, 0.8);
    font-size: 3ch;
    color:black;
}

.highlight1{
    margin-top:10px; width: 100%; height: 50px; border-radius:5px;
    font-size: 4ch;
    background: rgba(165, 167, 159, 0.76);
    color:black;
}

th {text-align: center; font-size: 15px;
}
td {
    text-align: center;
    font-size: 15px; }

.test-1::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
.test-1::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
.test-1::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}

.scrollbar{
    width: 30px;
    height: 350px;
    margin: 0 auto;

}